

.about-page {
    background-color: #FCBC49;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.about-container {
    background-color: #ffff;
    border: 5px solid #1f5c70;
    border-radius: 3px;
    margin: 50px 25px;
    max-width: 1200px;
    box-shadow: 0 1px 2px 0 rgb(48 48 48 / 30%), 0 1px 3px 1px rgb(48 48 48 / 15%);
}

.about-image {
    max-height: 75vh;
}

.about-text {
    padding: 25px;
    font-size: 1.5rem;
    font-weight: 500;
}

.socials {
    display: inline-flex;
    width: 100%;
    justify-content: end;
}

.socials a {
    margin: 0px 5px;
    font-size: 35px;
}