

.about-page {
    background-color: #FCBC49;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.about-container {
    background-color: #ffff;
    border: 5px solid #1f5c70;
    border-radius: 3px;
}

.about-image {
    max-height: 75vh;
}

.about-text {
    padding: 25px;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 600px;
}

.socials {
    display: inline-flex;
    width: 100%;
    justify-content: end;
}

.socials a {
    margin: 5px;
}