

.sidebar {
    top: 0;
    width: 400px;
    position: sticky;
    height: 0;
    z-index: 15;
}

.sidebar-content {
    height: 100vh;  
    background-color: #E3D6C9; 
    border: 5px solid #1f5c70;
    box-shadow: 0 1px 2px 0 rgb(48 48 48 / 30%), 0 1px 3px 1px rgb(48 48 48 / 15%);
}

.sidebar-nav {
    border: 0;
    font-size: 30px;
    cursor: pointer;
    background: #1f5c70 !important;
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
    color: white;
    margin: 10px;
    border: 2px solid #FFFF;
    box-shadow: 0 1px 2px 0 rgb(48 48 48 / 30%), 0 1px 3px 1px rgb(48 48 48 / 15%);
}

.sidebar-btn {
    background: transparent !important;
    border: 0;
    font-size: 50px;
    cursor: pointer;
    color: #1f5c70;
}

.sidebar-item-list {
    margin: 15px 30px;
}

.sidebar-item-list > a {
    font-size: 1.5em;
    font-weight: 800;
    background-color: #FFFF;
    padding: 15px;
    border-radius: 10px;
    display: inline-flex;
    width: 100%;
    color: #1f5c70;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 rgb(48 48 48 / 30%), 0 1px 3px 1px rgb(48 48 48 / 15%);
}

.sidebar-item-list > a:hover{
    background-color: #FBA01D;
    color: #FFF;
}

.sidebar-item-list > a > span {
    margin-left: 1rem;
}

@media (max-height: 550px) {
    .sidebar-item-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sidebar-item-list > a {
        width: 15vh;
        height: 15vh;
        display: block;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 calc( 50% - 10px);
        max-width: calc( 50% - 10px);
    }

    .sidebar-item-list > a:hover{
        background-color: #FBA01D;
        color: #FFF;
        width: auto;
    }

    .sidebar-item-list > a > span {
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;
    }

    .sidebar-item-list > a:hover > span{
        opacity: 1;
        height: auto;
        width: auto;
    }
}