html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
}

* {
  box-sizing: border-box;
}


.landing-page {
    height: 100vh;
    background-color: #FBA01D;
    justify-content: center;
    text-align: center;
}